@import '../../styles/variables';

.label {
  display: flex;
  align-items: center;
  width: 270px;
  height: 70px;
  padding: 0 0 0 29px;
  background-color: $blue-800;
}

.input {
  width: 130px;
  margin: 0 10px 0 0;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: $white-100;
  border-bottom: 1px solid $blue-400;
  background: none;
}

.select {
  width: 88px;
  height: 100%;
  padding: 0 0 0 13px;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  color: $white-100;
  background-color: $blue-800;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}



